openapi: 3.2.0
info:
  title: Litecoin Space REST Fees API
  description: 'A public REST API provided by the Litecoin Space block explorer (litecoinspace.org), a mempool.space-compatible service for the Litecoin network. Endpoints cover addresses (details, transactions, UTXOs, validation), blocks (details, headers, height, raw data, transactions), transactions (details, hex, raw, Merkle proofs, output spend status, broadcast), mempool (statistics, transaction IDs, recent transactions), fee recommendations, mining pool statistics, and network hashrate and difficulty data. No authentication required for public endpoints.

    '
  version: '1.0'
  contact:
    name: Litecoin Foundation
    url: https://github.com/litecoin-foundation/ltcspace
  license:
    name: MIT
servers:
- url: https://litecoinspace.org/api
  description: Litecoin Space mainnet
tags:
- name: Fees
  description: Fee estimation and recommendation endpoints
paths:
  /v1/fees/recommended:
    get:
      operationId: getFeesRecommended
      summary: Get recommended fees
      description: 'Returns current recommended fee rates for fast confirmation, half-hour confirmation, hour confirmation, economy, and minimum relay.

        '
      responses:
        '200':
          description: Recommended fee rates in sat/vB
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeRecommendations'
      tags:
      - Fees
  /v1/fees/mempool-blocks:
    get:
      operationId: getMempoolBlocks
      summary: Get mempool as projected blocks
      description: Returns the mempool projected into upcoming blocks with fee rate ranges.
      responses:
        '200':
          description: Projected mempool blocks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MempoolBlock'
      tags:
      - Fees
components:
  schemas:
    FeeRecommendations:
      type: object
      properties:
        fastestFee:
          type: integer
          description: Fee rate for next-block confirmation in sat/vB
        halfHourFee:
          type: integer
          description: Fee rate for ~30 minute confirmation in sat/vB
        hourFee:
          type: integer
          description: Fee rate for ~1 hour confirmation in sat/vB
        economyFee:
          type: integer
          description: Economy fee rate in sat/vB
        minimumFee:
          type: integer
          description: Minimum relay fee rate in sat/vB
    MempoolBlock:
      type: object
      properties:
        blockSize:
          type: integer
        blockVSize:
          type: number
        nTx:
          type: integer
        totalFees:
          type: integer
        medianFee:
          type: number
        feeRange:
          type: array
          items:
            type: number
externalDocs:
  description: Litecoin Space REST API Documentation
  url: https://litecoinspace.org/docs/api/rest
